<div class="main">
    
    <div class="title"><b>02</b>meet your crew</div>

    <div class="content">
        <div class="crew">
            <div class="crew-info">
                <h2>{{role}}</h2>
                <h1>{{name}}</h1>
                <p>{{bio}}</p>
            </div>
            <div class="btn-container">
                <label class="radio-btn">
                    <input type="radio" checked=true name="radio" value="0" (change)="onItemChange($event)">
                    <span class="checkmark"></span>
                </label>
                <label class="radio-btn">
                    <input type="radio" name="radio" value="1" (change)="onItemChange($event)">
                    <span class="checkmark"></span>
                </label>
                <label class="radio-btn">
                    <input type="radio" name="radio" value="2" (change)="onItemChange($event)">
                    <span class="checkmark"></span>
                </label>
                <label class="radio-btn">
                    <input type="radio" name="radio" value="3" (change)="onItemChange($event)">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <img [src]="img" alt="">
    </div>

</div>